html,
body {
    height: 100%;
    background-color: #9f7d88; /* สีพื้นหลังของทั้งหน้า */
    
    
    
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
  background-color: #08181c; /* สีพื้นหลังของฟอร์ม */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* เพิ่มเงาให้ดูนุ่มนวล */
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

